<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url('static', filename='echarts.min.js') }}"></script>
    <script src="{{ url('static', filename='jquery.min.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='theme.css') }}" />
    <title></title>
  </head>
  <body>
    <main>
      <header class="header header-light bg-white">
        <nav class="navbar  navbar-expand-lg flex-nowrap p-0" aria-label="Ninth navbar example">
          <div class="container">
            <a class="navbar-brand" href="#">Container XL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample07XL">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">主页</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/subscribe">跟踪</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" tabindex="-1">策略</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown07XL">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div>
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>
  </body>
  <script src="{{ url('static', filename='table.js') }}"></script>
</html>